<div class="card" (mouseover)="cardIsHovered=true" (mouseleave)="cardIsHovered=false">
  <div class="card__header">
    <button class="card__header--new-arrivals">new arrivals</button>
    <button class="card__header--like" (mouseover)="hover=true" (mouseleave)="hover=false">
      <svg-icon [hidden]="hover" name="heart" width="10px" height="10px"></svg-icon>
      <svg-icon [hidden]="!hover" name="heart-filled" width="10px" height="10px"></svg-icon>
    </button>
  </div>
  <div class="card__info">
    <h1 class="card__info--title">long sleeve round collar uv pre design</h1>
    <div class="card__info--review">
      <svg-icon class="review__star" name="star-filled" width="10px" height="10px"></svg-icon>
      <span class="review__points">4.9</span>
      <span class="review__quantity">(225 reviews)</span>
    </div>
    <div class="card__info--price">
      <span class="price__current">{{'122' | currency}}</span>
      <span class="price__old">{{'156' | currency}}</span>
    </div>
    <button class="add-to-cart" *ngIf="cardIsHovered">
      <svg-icon name="cart" width="12px" height="12px"></svg-icon>
      add to cart
    </button>
  </div>

  <img src="./../../../assets/images/model-1.jpeg" alt="clothes">
</div>
