<footer class="footer">
  <div class="row__business">
    <div class="column__info">
      <span class="column__info--logo">Thrift Shop</span>
      <p class="column__info--description">Online branding clothing founded in 2005 in Japan. Heavenly focused on
        selling
        only quality
        and branded items, limited edition collection by best fasion designer. </p>
    </div>
    <div class="column__about-us">
      <span class="column__about-us--title">About Us</span>
      <a class="column__about-us--link" href="">Information</a>
      <a class="column__about-us--link" href="">Store Locator</a>
      <a class="column__about-us--link" href="">Bulk Purchase</a>
      <a class="column__about-us--link" href="">Alteration Service</a>
      <a class="column__about-us--link" href="">Gift Delivery Service</a>
      <a class="column__about-us--link" href="">Live station</a>
    </div>
    <div class="column__help">
      <span class="column__help--title">Help</span>
      <a class="column__help--link" href="">FAQ</a>
      <a class="column__help--link" href="">Online Shopping Guide</a>
      <a class="column__help--link" href="">return policy</a>
      <a class="column__help--link" href="">privacy policy</a>
      <a class="column__help--link" href="">accesibility</a>
      <a class="column__help--link" href="">contact us</a>
    </div>
    <div class="column__account">
      <span class="column__account--title">Account</span>
      <a class="column__account--link" href="">Membership</a>
      <a class="column__account--link" href="">Profile</a>
      <a class="column__account--link" href="">Coupons</a>
    </div>
    <div class="column__social-media">
      <span class="column__social-media--title">Social Media</span>
      <a href="" class="column__social-media--link">
        <svg-icon name="x" width="14px" height="14px"></svg-icon>
        x
      </a>
      <a href="" class="column__social-media--link">
        <svg-icon name="facebook" width="14px" height="14px"></svg-icon>
        facebook
      </a>
      <a href="" class="column__social-media--link">
        <svg-icon name="instagram" width="14px" height="14px"></svg-icon>
        instagram
      </a>
      <a href="" class="column__social-media--link">
        <svg-icon name="youtube" width="14px" height="14px"></svg-icon>
        youtube
      </a>
    </div>
  </div>
  <div class="row__legal">
    <span class="row__legal--business">@Thrift Shop 2023. All rights reserved.</span>
    <div class="row__legal--documents">
      <span><a href="">Privacy Policy</a></span> -
      <span><a href="">Terms and Conditions</a></span>
    </div>
  </div>
</footer>
