<section class="category-header">
  <div class="category-header__title">
    <span class="category-header__title--main">{{title}}</span>
    <span class="category-header__title--quantity">({{quantity}})</span>
  </div>
  <div class="category-header__bar">
    <div class="category-header__bar--filters">
      <button>Price <svg-icon name="chevron-down" height="12px" width="12px"></svg-icon></button>
      <button>Size <svg-icon name="chevron-down" height="12px" width="12px"></svg-icon></button>
      <button>Sale <svg-icon name="chevron-down" height="12px" width="12px"></svg-icon></button>
      <button>Product Type <svg-icon name="chevron-down" height="12px" width="12px"></svg-icon></button>
    </div>
    <div class="category-header__bar--filters">
      <button>More Filter <svg-icon name="plus" height="12px" width="12px"></svg-icon></button>
      <button>Recommended <svg-icon name="chevron-down" height="12px" width="12px"></svg-icon></button>
    </div>
  </div>
</section>
