@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
// font
$open-sans: 'Montserrat', sans-serif;

// colors
$green: #0B7C56;
$orange: #F29914;
$black: #0f1117;
$gray: #838C9E;
$light-gray: #E3E7EC;
$white: #F7F9FC;

$border-radius: 10px;

body,
html {
  margin: 0;
}
