@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
// font
$open-sans: 'Open Sans', sans-serif;

// colors
$green: #0B7C56;
$orange: #F29914;
$black: #061237;
$gray: #838C9E;
$light-gray: #E3E7EC;
$white: #F7F9FC;

body,
html {
  margin: 0;
}
